@import "../../../../assets/styles/mixin.module";

.dropDown{
  width: 100%;
  //overflow: hidden;
  position: relative;
  & .dropDown{
    width: calc(100% - 21px);
  }
  &.open{
    & > .dropDownButton{
      border: 1px solid #FFDA25;
      box-sizing: border-box;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    & > .dropDown__list{
      & .line{
        transition: all 0.2s ease;
      }
      transition: all 0.2s ease;
    }
    & .child{
      & .dropDownButton{
        height: 62px
      }
    }
  }
  &:not(.open){
    & > .dropDown > .dropDownButton{
      padding-top: 0;

    }
    & .child{
      &:after{
        width: 0;
        height: 0;
      }
      & .dropDownButton{
        height: 0px;
        border-width: 0;
      }
    }
  }
  &.child{
    &:after{
      width: 22px;
      height: 2px;
      position: absolute;
      content: "";
      background: #E9E9E9;
      border-radius: 4px;
      top: 30px;
      left: -17px;
    }
  }
  &.open{
    & .child.open:not(:last-child){
      margin-bottom: 10px;
    }
  }
  //&.child{
  //  & .open{
  //    & .dropDownButton{
  //      height: 62px
  //    }
  //  }
  //  &:not(.open){
  //    & .dropDownButton{
  //      height: 0px
  //    }
  //  }
  //}
  & .line{
    width: 2px;
    content: "";
    position: absolute;
    left: 4px;
    top: 32px;
    background: #E9E9E9;
    transition: all 0.6s ease;
    border-radius: 4px;
  }
  &.open{

  }
  &:after{
    transition: all 0.7s ease;
  }
  & .dropDownButton{
    @include clear();
    z-index: 20;
    position: relative;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.5s ease;
    height: 62px;
    overflow: hidden;
    @include flex-space-center();
    box-sizing: border-box;
    padding-left: 6px;
    padding-right: 16px;
    & .dropDownButton__info{
      @include flex-start();
      align-items: center;
    }
    & .dropDownButton__imageContainer{
      width: 50px;
      height: 50px;
      background: rgba(165, 177, 189, 0.3);
      border-radius: 25px;
      overflow: hidden;
      @include flex-center();
      margin-right: 16px;
      & .dropDownButton__imageContainer_image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      & .dropDownButton__imageContainer_text{
        @include font-setter(normal, 500, 20px, 20px, #A5B1BD);
      }
    }
    & .dropDownButton__text{
      @include font-setter(normal, 500, 16px, 20px, #353535);
      margin-right: 22px;
    }
    & .dropDownButton__category{
      @include font-setter(normal, bold, 20px, 20px, #FFDA25);
    }
    & .dropDownButton__counter{
      @include font-setter(normal, 500, 19px, 40px, #303030);

    }
  }
  & .dropDown__list{
    //overflow-y: hidden;
    width: 100%;
    transition: all 0.2s ease;
    padding-top: 10px;
    box-sizing: border-box;
    @include flex-space-center();
    flex-direction: column;
    align-items: flex-end;
  }
}
