@import "../../../assets/styles/mixin.module";


.datePicker{
  width: 100%;
  max-width: 416px;
  @include flex-start();
  flex-direction: column;
  &.open{
    & .dateButton{
      border: 1px solid #2E80E1;
      box-shadow: 0px 0px 4px rgba(46, 128, 225, 0.5);
    }
  }
  & .title{
    margin-bottom: 10px;
    @include flex-space-center();
    & .title__text{
      @include font-setter(normal, bold, 15px, 20px, #303030);
    }
  }
  & .container__description{
    margin-top: 9px;
    width: 100%;
    text-align: left;
    @include font-setter(normal, 500, 12px, 15px, #5C7186);
    &.incorrect{
      color: #F45F68 !important;
    }
  }
  & .container{
    width: 100%;
    position: relative;
    & .dateButton{
      width: 100%;
      z-index: 15;
      position: relative;
      @include flex-space-center();
      background: #FFFFFF;
      border: 1px solid #BFCDDC;
      box-sizing: border-box;
      vertical-align: center;
      align-items: center;
      overflow: hidden;
      border-radius: 4px;
      padding-left: 15px;
      min-height: 55px;
      cursor: pointer;
      transition: all 0.3s ease;
      &.incorrect{
        border: 1px solid #F45F68;
      }
      &:hover{
        & .dateButton__icon{
          background: #FFDA24;
        }
      }
      & .dateButton__text{
        @include font-setter(normal, normal, 15px, 24px, #303030);
        &.empty{
          color: #92A9BF !important;
        }
      }
      & .dateButton__icon{
        width: 53px;
        height: 53px;
        transition: all 0.5s ease;
        background: #E4E8EC;
        @include flex-center();
        border-radius: 0px 3px 3px 0px;
      }
    }
    & .container__content{
      position: absolute;
      width: 100%;
      top: 55px;
      right: 0;
      z-index: 14;
      //background: #FFFFFF;
      //box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
    }
  }
}

@media all and (max-width: 800px) {
  .dateButton__icon{
    height: 53px !important;
    width: 53px !important;
  }
  .container__content{
    top: 50px !important
  }
}
