@import "../../../assets/styles/mixin.module";

.filterButton{
  @include clear();
  @include flex-center();
  cursor: pointer;

  & .filterButton__container{
    @include flex-center();
    flex-direction: column;
    & > svg:first-child{
      margin-bottom: 2px;
    }
    &.top{
      & > svg:first-child path{
        fill: #303030;
      }
    }
    &.bottom{
      & > svg:last-child path{
        fill: #303030;
      }
    }
  }
}
.filterButton__text{
  margin-right: 6px;
  white-space: nowrap;
  @include font-setter(normal, 500, 14px, 18px, #94A0AC);
}


@media all and (max-width: 800px){
  .filterButton__text{
    font-size: 12px;
  }
}
