@import "../../../assets/styles/mixin.module";

.checkbox{
  @include flex-center();
  width: 100%;
  justify-content: flex-start;
  &.incorrect{
    & .checkbox__text{
      color: #F45F68 !important;
    }
  }
  & .container{
    @include clear();
    cursor: pointer;
    width: 22px;
    min-width: 22px;
    min-height: 22px;
    height: 22px;
    overflow: hidden;
    @include flex-center();
    position: relative;
    box-sizing: border-box;
    transition: all 0.4s ease;
    @include border-radius(4px);
    &.confirm .container__flag{
      top: 0;
      background: #43C400;
    }
    &.cancel{
      .container__flag{
        top: -22px;
        background: #d9d9d9;
      }
    }
    & .container__flag{
      position: absolute;
      width: 100%;
      transition: all 0.4s ease;
      left: 0;
      & .flag{
        width: 22px;
        min-width: 22px;
        height: 22px;
        @include flex-center();
      }
    }

  }
  & .checkbox__text{
    @include font-setter(normal, 500, 12px ,15px, #303030);
    margin-left: 9px;
    cursor: pointer;
    text-align: left;
  }
}
